<li>

    <strong>{{ entry.title }}</strong>
    
    <br>
    
    {{ entry.author }}
    
    <br>
    
    <i>{{ entry.booktitle }}</i>, {{ entry.year }}
    
    <br>
    
    {% if entry.url %}
    <a href="{{ entry.url }}">paper</a>
    {% endif %}
    
    {% if entry.code %}
    · <a href="{{ entry.code }}">code</a>
    {% endif %}
    
    {% if entry.slides %}
    · <a href="{{ entry.slides }}">slides</a>
    {% endif %}
    
    <details>
    <summary>abstract</summary>
    {{ entry.abstract }}
    </details>
    
    <details>
    <summary>bibtex</summary>
    
    <pre>{{ entry.bibtex }}</pre>
    
    </details>
    
    </li>